<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/customers_create.css">
    <title>Create</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/profile">
                <div class="logo-block"></div>
            </a>
        </div>
        <h1>Create customer</h1>
    </header>
    <main>
        <form method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" name="login" required>
                <br>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" required>
                <br>
            </div>
            
            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" name="role" required>
                <br>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" required>
                <br>
            </div>
            
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" name="surname" required>
                <br>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" name="age" required>
                <br>
            </div>

            <div class="form-group">
                <input type="submit"><br>
            </div>
        </form>
    </main>
    <footer>...</footer>
</body>
</html>