<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/index_choise.css">
    <title>Index</title>
    <script>
        window.onload = function() {
            setTimeout(function(){ location.reload(); }, 5000);
        }
    </script>
</head>
<body>
    <header>Authorization</header>

    <main>
        <div class="login"><a href="/login">Login</a></div>
        <br><br><br>
        <div class="sign-up"><a href="/signup">Sign up</a></div>
    </main>
    <footer>...</footer>
</body>
</html>