<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/movies_index.css">
    <title>Index</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/profile">
                <div class="logo-block"></div>
            </a>
        </div>
        <h1>Movies</h1>
    </header>
    <main>
        <a href="/movies/create" class="create">create movie</a>
        <div class="elements">
            {{range .}}
                <div class="item">
                    <p>Title: {{.Title}}</p>
                    <p>Director: {{.Director}}</p>
                    <p>Release year: {{.ReleaseYear}}</p>
                    <p>Genre: {{.Genre}}</p>
                    <p>Duration: {{.Duration}}</p>
                    <a href="/movies/update?id={{.Id}}">update</a>
                    <a href="/movies/delete?id={{.Id}}">delete</a>
                </div>
            {{end}}
        </div>
    </main>
    <footer>...</footer>
</body>
</html>