<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/movie_ordermovie.css">
    <title>Order</title>
</head>
<body>
    <header>Order</header>
    <main>
        <form method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>

            <div class="form-group">
                <input type="submit">
            </div>
        </form>
    </main>
    <footer>...</footer>
</body>
</html>