body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
   
header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
  
header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
}
  
footer {
    display: flex;
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.form-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 80%;
}
  
.form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}